html, body
{
  background-color:#F9FCFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.form-control{
  width: 20%;
  display: inline-block;
  margin-top: 15px;
}
.form-control1{
  width: 20%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 56px;
  margin-right: 20px;
}
#sgpa1
{
  display:none;
}
#cgpa1
{
  display:none;
}
#perc{
  display:none;
}
#grade
{
  display:none;
}
.disp
{
  font-size:20px;
  font:bolder;
}
.container1
{
  text-align: center;
  font:bolder;
  font-size: larger;
}
.form1{
  text-align: center;
  padding-bottom: 60px;
}
a{
  font-size: larger;
  font-style: times ;
}
.container{
  padding-top:70px;
  width: 65%;
}
h2{
  padding: 80px;
}
h4{
  margin-bottom:20px;
}
.panel-group .panel+.panel {
  margin-top: 15px;
}

